    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    /* Global Styles */
    body {
        font-family: Arial, sans-serif;
        background-color: #F8F0E5;
    }

    #paragraph:first-letter {
        font-size: 1.5em; 
        margin-right: 6px; 
        font-weight: bold; 
    }


    /* Header Styles*/
    header {
        background-color: #DAC0A3;
        color: rgb(0, 0, 0);
        padding: 10px 0;
        position: fixed;
        width: 100%;
        z-index: 100;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
    
    /*Nav Bar Styles*/
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px auto;
        padding: 0 20px;
    }
    
    .fixed_name {
        font-size: 1.5rem;
        font-weight: bold;
        color: #0F2C59;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
    }
    
    .nav-links li {
        margin-right: 20px;
    }
    
    .nav-links a {
        color: #0F2C59;
        padding: 10px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .nav-links a:hover {
        background-color: #0F2C59;
        border-radius: 4px;
        color: #F8F0E5;
    }
    
    /* About Section Style */
    .about {
        padding: 100px 0 20px 0;
        text-align: center;
    }
    
    .about h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    
    .about p {
        font-size: 1rem;
        color: #0F2C59;
        max-width: 800px;
        margin: 0 auto;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;    
    }

    .about p:hover{
        color:brown;
        font-style: oblique;
        transition-duration: 1ms;
        

    }
    
    .about-info {
        margin: 2rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    
    .about-img {
        width: 400px;
        height: auto;
        
    }
    
    .about-img img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        object-fit: contain;
        border-color: #0F2C59;
        border-style: double;
        border-width: 5px;

    }

    .about-img:hover {
        transform: scale(0.80);
        transition: transform 2s;
    }
    
    .about-info p {
        font-size: 1.3rem;
        margin: 0 2rem;
        text-align: justify;
    }
    
    button {
        border: none;
        outline: 0;
        padding: 10px;
        margin: 2rem;
        font-size: 1rem;
        color: #F8F0E5;
        background-color: #0F2C59;
        text-align: center;
        cursor: pointer;
        width: 15rem;
        border-radius: 4px;
    }
    
    button:hover {
        background-color: #F8F0E5;
        border-radius: 4px;
        color: #0F2C59;
    }
    
    /* Class Section */
    .class {
        padding: 30px 0;
        text-align: center;
    }
    
    .class h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #0F2C59;
        
    }

    .class h1:hover {
        transform: translateY(-5px);
        color: brown;
    }
    
    .class-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }
    
    .card {
        background-color: #DAC0A3;
        border-radius: 6px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transition: transform 0.2s, box-shadow 0.2s;
        width: 18rem;
        height: 25rem;
        margin-top: 10px;
        color: #0F2C59;
    }
    
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    }
    
    .card-img {
        width: 18rem;
        height: 12rem;
    }
    
    .card-img img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .card-info button {
        margin: 2rem 1rem;
    }
    
    .card-name {
        font-size: 2rem;
        margin: 10px 0;
    }
    
    .card-role {
        font-size: 1rem;
        color: #888;
        margin: 5px 0;
    }
    
    .card-email {
        font-size: 1rem;
        color: #555;
    }


    .wrapper {
        max-width: 80rem;
        margin: 0 auto;
    }

    ol {
        padding: 1.5rem 1.5rem 1.5rem 4em;
        border: 0.3rem solid #0F2C59;
        columns: 25rem;
        column-gap: 7rem;
        column-rule: 4px dotted #0F2C59;
        border-radius: 0.5rem;
    }

    ol  {
        margin-top: 1rem;
    }

    li {
        break-inside: avoid;
    }


    li span {
        display: block;
    }

    li span:first-child {
        font-size: 1.5em;
    }

    li span:last-child {
        font-style: italic;
    }

    .nested-list-item {
        text-align: left;
        color: #0F2C59;
        background-color: #DAC0A3;
        border-radius: 6px;
        font-size: medium;
        font-style: italic;

    }

    .film-detay {
        display: none;
        list-style-type: none;
        margin-top: 10px;
        padding-left: 20px;
    }


    .reverse-list li ul li:nth-child(odd) {
        color: #0F2C59;
    }   

    .reverse-list li ul li:nth-child(even) {
        color: #da3261;
    }

    .reverse-list li:hover .film-detay {
        display: block;
    }

    
    /* Footer */
    footer {
        background-color: #222;
        color: white;
        text-align: center;
        padding: 20px 0;
    }


    
    @media (max-width: 768px) {
        nav {
            display: block;
        }
    
        .logo {
            text-align: center;
        }
    
        .nav-links {
            margin-top: 1rem;
            justify-content: space-between;
        }
    
        .nav-links li {
            margin-right: 0;
        }
    
        .about h1 {
            font-size: 2rem;
        }
    
        .about p {
            font-size: 0.9rem;
        }
    
        .about-info {
            flex-direction: column;
            text-align: center;
        }
    
        .about-img {
            width: 60%;
            height: 60%;
            margin-bottom: 1rem;
        }
    
        .about-info p {
            margin: 1rem 2rem;
        }
    
        .about-info button {
            margin: 1rem 2rem;
            width: 10rem;
        }
    
        .class {
            margin: 0 1rem;
        }
    }

    a {
        text-decoration: none;
        
    }



    a:hover {
        text-decoration: underline;
    }

    .reverse-list {
        counter-reset: my-custom-counter 5;
        list-style: none;
        padding: 1.5rem 1.5rem 1.5rem 4em;
        border: 0.3rem solid #0F2C59;
        columns: 25rem;
        column-gap: 7rem;
        column-rule: 4px dotted #0F2C59;
        border-radius: 0.5rem;
        
    }

    .reverse-list li {
        counter-increment: my-custom-counter -1;
    }

    .reverse-list li::marker {
        content: counter(my-custom-counter);
        margin-right: 0.5em;
        font-weight: 700;
        font-size: 1.5em;
        color: #0F2C59;

    }

    .film-detay li::marker {
    content: none;

        
    }

    .resim-kutu {
        width: 300px; 
        height: 300px; 
        margin-right: 20px;
        display: inline-block; 
        border-color: #0F2C59;
    }

    figcaption {
        font-size: 1.5em;
        font-weight: bold;
        color: #0F2C59;
        text-align: center; 
        font-size: 20px; 
        color: #0F2C59;
    }

    figcaption:hover {
        transition: scale(1.5);
        color: brown;
    }

